body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  
  header {
    z-index: 1;
    position: fixed;
    background: #51766D;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 30px;
  }
  
  .left_area h3 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;
  }
  
  .left_area span {
    color: #C70039;
  }
  
  .logout_btn {
    padding: 5px;
    background: #C9F9ED;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #333E3B;
    transition: 0.5s;
    transition-property: background;
  }
  
  .logout_btn:hover {
    background: #0d9dbb;
  }
  
  button {
    font-family: inherit;
    cursor: pointer;
  }
  
  .botao {
    display: flex;
    margin: 1.5em;
    padding: 0.5em 1em;
    justify-content: flex-end;
    text-decoration: none;
    background: #58af9b;
    color: #0d141f;
    border-radius: 100px;
    align-items: center;
    flex-direction: column;
    width: 22%;
    transition: 0.5s;
  }
  
  .botao:hover {
    background: #fff;
    color: #58af9b;
  }
  
  .sidebar {
    z-index: 1;
    top: 0;
    background: #58af9b;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
  }
  
  .profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar .profile_info .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
  }
  
  .sidebar .profile_info h4 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.8s;
    transition-property: background;
  }
  
  .sidebar a:hover {
    background: #19b3d3;
  }
  
  .sidebar i {
    padding-right: 10px;
  }
  
  label #sidebar_btn {
    z-index: 1;
    color: #C9F9ED;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_btn:hover{
    color: #0d9dbb;
  }
  
  #check:checked ~ .sidebar {
    left: -185px;
  }
  
  #check:checked ~ .sidebar a span {
    display: none;
  }
  
  #check:checked ~ .sidebar a {
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
  }
  
  
  
  .content {
    width: (100% - 250px);
    margin-top: 60px;
    padding: 20px;
    margin-left: 250px;
    background: #DAF7A6;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
  }
  
  .content .img_spr {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
  }
  
  .content .info_spr {
    background:#ccc;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.8;
  }
  .content1 {
    width: (100% - 250px);
    margin-top: 50px;
    padding: 20px;
    margin-left: 250px;
    background: #DAF7A6;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
  }
  
  .content1 .img_spr {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
  }
  
  .content1 .info_spr {
    background:#ccc;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.8;
  }
  
  #check:checked ~ .content {
    margin-left: 60px;
  }
  
  #check:checked ~ .sidebar .profile_info{
    display: none;
  }
  
  #check {
    display: none;
  }
  
  .select-box {
    display: flex;
    width: 400px;
    flex-direction: column;
  }
  
  .select-box .option-container {
    background: #2f3640;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
  
    order: 1;
  }
  
  .camadas {
    font-weight: bold;
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
  
    order: 0;
  }
  
  
  .camadas::after {
    content: "";
    background: url("angle-arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
  
    position: absolute;
    height: 100%;
    width: 25px;
    right: 10px;
    top: 5px;
  
    transition: all 0.4s;
  }
  
  
  .select-box .option-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
  }
  
  .select-box .option-container.active + .camadas::after{
    transform: rotateX(180deg);
    top: -6px;
  }
  
  .select-box .option-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .option-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .option, .camadas{
    padding: 12px 24px;
    cursor: pointer;
  }
  
  .select-box .option:hover {
    background: #414b57
  }
  
  .select-box label {
    cursor: pointer;
  }
  
  .select-box .option .radio {
    display: none;
  }
  
  
  .btn1 {
    cursor: pointer;
    color: #2f3640;
    display: -ms-grid;
    width: 96%;
    line-height: 60px;
    margin: 1em;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    border-radius: 15px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.8s;
    transition-property: background;
  }
  
  .btn1:hover {
    background-color: #C9F9ED;
    color:#58af9b;
  }
  
  .btn1 i {
    padding-right: 10px;
  }